/****** isotope demo ******/

.filtered-library-wrapper > .col-md-12 {
    min-height: 100px;
}
.grid .library-list {
    width: calc(33% - 30px);
    border: 1px solid #ebe9eb;
    border-radius: 3px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    background: #ffffff;
    margin: 15px;
    padding-bottom: 15px;
    word-wrap: break-word;
}

.grid {
    background: #fff;
    position: relative;
}
.grid > div > .row.no-margin {
    margin-left: -15px;
    margin-right: -15px;
}
.grid > div > .row.no-margin > .col-md-12 {
    padding: 0;
}

.grid div[id*="DocumentPanel"] {
    background-color: #fff;
}

.grid div[id*="DocumentPanel"] div[id*="ListViewContent"] .pagination {
    display: none;
}

.grid div[id*="DocumentPanel"]>.row.no-margin>.col-md-12 {
    padding: 0;
}

.grid div[id*="ContentWrapper"]>.row.row-wide>.col-md-12 {
    padding: 0;
}

.grid span[id*="ItemRating"] {
    display: none;
}

.grid .row.library-list {
    padding-top: 0;
    border: 1px solid #aea79f;
    background-color: transparent;
    width: 380px;
    float: left;
    margin: 5px;
    margin-bottom: 30px;
    transition: 0.3s;
    overflow: hidden;
    height: 450px;
    padding: 15px;
}

.grid .library-list .img-container {
    height: 150px;
    margin: -15px;
    margin-bottom: 5px;
    background-color: #eee;
    background-position: center;
    background-size: cover;
    position: relative;
    transition: 0.3s;
}

.grid .library-list .img-container:hover,
.grid .library-list .img-container:focus {
    background-color: #d7d7d7;
    transition: 0.3s;
}

.grid .library-list .img-container[style*="undefined"]::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
    height: 75px;
    width: 75px;
    line-height: 75px;
    font-size: 55px;
    text-align: center;
    font-family: 'eConverse';
    content: '\f017';
    color: #7cc24f;
    background-color: #eee;
    transition: 0.3s;
}

.grid .library-list .img-container[style*="undefined"]:hover::before,
.grid .library-list .img-container[style*="undefined"]:hover::before {
    background-color: #d7d7d7;
    transition: 0.3s;
}

.grid .library-list .col-md-12 {
    padding: 0;
}

.grid .library-list .content-tags {
    font-size: 0;
}

.grid .library-list .libListReptEntAttchLble {
    border-bottom: 0;
}

.grid .library-list .row {
    margin: 0;
}

.grid .library-list>div[id*="NameBlock"] {
    padding: 0;
}

.grid .dropdown-group {
    margin-bottom: 15px;
}

.grid .dropdown-group .HtmlContent {
    text-align: right;
}

.grid .dropdown-group a {
    display: inline-block;
    text-transform: uppercase;
    background-color: #7cc24f;
    color: #fff;
    font-weight: 500px;
    border-radius: 0;
    font-style: normal;
    text-decoration: none;
    padding: 7px 15px;
}

.grid div.filter-button-group {
    position: relative;
    width: 290px;
    float: left;
    padding: 0 10px;
    margin-bottom: 15px;
}

.grid div.filter-button-group .filter-content {
    width: 100%;
    padding: 0;
    position: relative;
    top: 0;
    /* z-index: 1; */
    background: #fff;
    border: 1px solid #e5e9eb;
    transition: 0.3s;
}

.grid div.filter-button-group .filter-content:hover,
div.filter-button-group .filter-content:focus {
    background: #eee;
    transition: 0.3s;
}

.grid div.filter-button-group .filter-label {
    padding: 6px 25px 6px 12px;
    width: 100%;
    display: inline-block;
    cursor: pointer;
    position: relative;
    /* z-index: 11; */
    overflow: unset;
    text-transform: capitalize;
    text-align: left;
}

.grid div.filter-button-group .filter-label::after {
    content: "\f016";
    position: absolute;
    right: 0px;
    font-family: "eConverse";
    font-size: 25px;
    line-height: 25px;
    color: #202020;
}

.grid .filter-button-group ul.multiple-select {
    list-style: none;
    padding: 0px;
    margin: 0;
    display: none;
    position: absolute;
    width: 100%;
}

.grid div.filter-button-group .filter-content.open ul.multiple-select {
    display: block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    background: #fff;
    z-index: 5;
}

.grid .filter-button-group ul.multiple-select {
    list-style: none;
}

.grid .filter-button-group ul.multiple-select li.checkbox-filter {
    padding: 4px 10px;
    text-align: left;
}

.grid .filter-button-group ul.multiple-select li.checkbox-filter input {
    margin-right: 4px;
}

.grid .filter-button-group ul.multiple-select li.checkbox-filter:hover,
.grid .filter-button-group ul.multiple-select li.checkbox-filter:focus {
    background-color: #f9f9f9;
}

.grid .filter-button-group ul.multiple-select li.checkbox-filter:hover label,
.grid .filter-button-group ul.multiple-select li.checkbox-filter:focus label {
    color: #7cc24f;
}

.grid .library-list div[id*="NameBlock"] {
    height: 100%;
}

.grid .library-list .attachment-wrap {
    position: absolute;
    bottom: -15px;
    left: -15px;
    right: -15px;
    padding: 15px;
    background-color: white;
}

.grid .library-list .attachment-wrap::before {
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    content: '';
    width: 100%;
    height: 15px;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #fff);
}

.grid div.dropdown-group {
    width: 100%;
    float: none;
    padding: 0px;
    position: relative;
    z-index: 2;
}

/* no results message */
.no-results {
    position: absolute;
    bottom: 0;
}

.filtered-library {
    min-height: 100vh;
}

/****** responsive ******/
@media (max-width: 768px) {
    .grid .library-list {
        width: calc(50% - 30px);
    }
}
@media (max-width: 500px) {
    .grid .library-list {
        width: calc(100% - 30px);
    }
}