/****** member dashboard ******/

.member-dashboard {
    position: relative;
}

.member-dashboard>.row.row-wide {
    position: relative;
    z-index: 2;
    padding-top: 30px;
    padding-bottom: 35px;
    overflow: hidden;
    height: 100px;
    transition: .6s ease-in-out;
}

.open.member-dashboard>.row.row-wide {
    height: 310px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.dashboard-col-2, 
.dashboard-col-3 {
    opacity: 0;
    z-index: -1;
    transition: .6s;
}

.open .dashboard-col-2, 
.open .dashboard-col-3 {
    z-index: 1;
    opacity: 1;
}

.member-dashboard h2, 
.member-dashboard .HLLandingControl .heading h2 {
    color: #fff;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.7px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
}

/*** toggle ***/

.dashboard-toggle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.dashboard-toggle button {
    background-color: #fff;
    padding: 5px 10px;
    color: #263137;
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    border: none;
}

/*** user details ***/

.user-details {
    display: flex;
    align-items: center;
}

.member-dashboard-img {
    width: 51px;
    height: 51px;
    margin-right: 20px;
}

.open .member-dashboard-img {
    height: 99px;
    width: 99px;
}

.member-dashboard-img * {
    padding: 0;
    margin: 0;
}

.member-dashboard-img a,
.member-dashboard-img a[id*="lnkDisplay"] {
    border: 3px solid #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-color: #d8d9db;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.open .member-dashboard-img a, 
.open .member-dashboard-img a[id*="lnkDisplay"] {
    width: 93px;
    height: 93px;
}
.member-dashboard-img a > img,
.member-dashboard-img a[id*="lnkDiplay"] > img {
    position: relative;
    max-height: 100% !important;
    width: auto;
    max-width: unset;
}

.greeting {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.open .greeting {
    flex-direction: column;
    align-items: flex-start;
}

.greeting span {
    margin-right: 5px;
}

.open .greeting span {
    display: block;
}

.greeting>a {
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.open .greeting>a {
    font-size: 30px;
}

.greeting>a:hover, .greeting>a:focus {
    text-decoration: underline;
}

.member-dashboard:not(.open) .dashboard-col-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.member-dashboard:not(.open) .progress-text, 
.member-dashboard:not(.open) .progress, 
.member-dashboard:not(.open) .dashboard-link {
    display: none;
}

/*** email content ***/

.email-content i {
    color: #fff;
    font-size: 20px;
    margin-right: 7px;
}

.email-content a {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    text-decoration: underline;
    font-weight: 400;
}

.member-dashboard:not(.open) .email-content {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    text-align: left;
    margin-top: 10px;
}

.open .email-content {
    margin-top: 10px;
    margin-left: 0;
}

/*** progress text ***/

.progress-text {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin-top: 20px;
    display: block;
    margin-bottom: 10px;
}

.progress {
    border-radius: 2px;
    background: #fff;
    border: 1px solid #fff;
    height: 22px;
    box-shadow: none;
}

.progress-bar-info {
    text-align: center;
    border-radius: 2px;
    font-size: 11px;
    line-height: 20px;
    color: #fff;
}

/*** links ***/
.dashboard-links {
    display: flex;
    flex-wrap: wrap;
}
.dashboard-link {
    flex-basis: 50%;
}
.dashboard-link i {
    color: #fff;
    font-size: 18px;
    margin-right: 8px;
}
.dashboard-link a {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    margin-bottom: 15px;
}
.dashboard-link a:hover,
.dashboard-link a:focus {
    text-decoration: underline;
}

/*** buttons ***/
.dashboard-btn {
    padding: 5px 0;
}

.dashboard-btn em a {
    background: #fff;
    color: #263137;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
    position: relative;
    font-size: 14px;
}
.dashboard-btn em a:hover,
.dashboard-btn em a:focus {
    color: #fff;
}

/*** recent activity ***/

.dashboard-col-3 .SearchResults.HLLandingControl,
.dashboard-col-3 .SearchResults.HLLandingControl .Content {
    padding: 0;
    border: none;
}

.dashboard-col-3 .SearchResults.HLLandingControl ul {
    overflow-y: auto;
    max-height: 254px;
}

.dashboard-col-3 .HLLandingControl ul li {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    border-bottom: none;
}
.dashboard-col-3 .HLLandingControl ul li:last-child {
    margin-bottom: 0;
}
.dashboard-col-3 .HLLandingControl ul li + li:last-child {
    margin-bottom: 10px;
}
.dashboard-col-3 .HLLandingControl ul li h3 {
    margin-bottom: 5px;
}
.dashboard-col-3 .HLLandingControl ul li h3 a {
    color: #263137;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.dashboard-col-3 .HLLandingControl ul li .ByLine,
.dashboard-col-3 .HLLandingControl ul li h5 {
    color: #263137;
    font-size: 12px;
    line-height: 1;
}

.dashboard-col-3 .HLLandingControl ul li .ByLine a,
.dashboard-col-3 .HLLandingControl ul li h5 a {
    text-decoration: underline;
}

.dashboard-col-3 .HLLandingControl ul li .ByLine a:hover,
.dashboard-col-3 .HLLandingControl ul li .ByLine a:focus,
.dashboard-col-3 .HLLandingControl ul li h5 a:hover,
.dashboard-col-3 .HLLandingControl ul li h5 a:focus {
    text-decoration: none;
    color: #263137;
}

.dashboard-col-3 .HLLandingControl ul li h5 {
    margin-bottom: 0;
}

.dashboard-col-3 .Content ul li .title-row .col-md-3 {
    display: none;
}
.dashboard-col-3 .Content ul li .title-row .col-md-12, 
.dashboard-col-3 .Content ul li .title-row .col-md-9 {
    width: 100%;
}

.dashboard-col-3 ul li {
    position: relative;
}

.dashboard-col-3 .HLLandingControl > div:last-child > a {
    width: 100%;
    background: #fff;
    border-radius: 0;
    border: none;
    border-top: 1px solid #F2F2F2;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    padding: 15px 20px;
    text-align: left;
}
.dashboard-col-3 .HLLandingControl ul li p {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0;
    margin-top: 5px;
}

@media (max-width: 991px) {
    .member-dashboard .row.row-wide.slick-dotted.slick-slider {
        margin-bottom: 0;
    }
    .member-dashboard div[class*="dashboard-col"] {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 650px) {
    .member-dashboard:not(.open) .email-content {
        display: none;
    }
}

@media (max-width: 500px) {
    .greeting, .greeting span {
        display: block;
    }
}

@media (max-width: 350px) {
    .open.member-dashboard>.row.row-wide {
        height: 340px;
    }
}